In [1]:
import pandas as pd 
import polars as pl
import numpy as np
import pycountry
import pycountry_convert as pc

# **COMMODITY PRICES DATA**

In [15]:
token="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"

In [16]:
import pandas as pd
cmoMonthlyPrices = "https://huggingface.co/datasets/aaronmat1905/ADA_Project_Data/resolve/main/raw/commodity_prices/extracted/cmoMonthly_monthly_prices.csv"
cmoIndexWeights = "https://huggingface.co/datasets/aaronmat1905/ADA_Project_Data/resolve/main/raw/commodity_prices/extracted/cmoMonthly_index_weights.csv"
cmoMonthlyIndices = "https://huggingface.co/datasets/aaronmat1905/ADA_Project_Data/resolve/main/raw/commodity_prices/extracted/cmoMonthly_monthly_indices.csv"

In [17]:
# Read CSV, skip first 6 rows (metadata), use proper header
cmo1 = pd.read_csv(cmoMonthlyPrices, skiprows=6)
cmo1.head(10)

,5,Unnamed: 1,CRUDE_PETRO,CRUDE_BRENT,CRUDE_DUBAI,CRUDE_WTI,COAL_AUS,COAL_SAFRICA,NGAS_US,NGAS_EUR,...,ALUMINUM,IRON_ORE,COPPER,LEAD,Tin,NICKEL,Zinc,GOLD,PLATINUM,SILVER
0,6,1960M01,1.63,1.63,1.63,…,…,…,0.14,0.404774,...,511.471832,11.42,715.40,206.1,2180.4,1631.0,260.8,35.27,83.5,0.9137
1,7,1960M02,1.63,1.63,1.63,…,…,…,0.14,0.404774,...,511.471832,11.42,728.19,203.7,2180.4,1631.0,244.9,35.27,83.5,0.9137
2,8,1960M03,1.63,1.63,1.63,…,…,…,0.14,0.404774,...,511.471832,11.42,684.94,210.3,2173.8,1631.0,248.7,35.27,83.5,0.9137
3,9,1960M04,1.63,1.63,1.63,…,…,…,0.14,0.404774,...,511.471832,11.42,723.11,213.6,2178.2,1631.0,254.6,35.27,83.5,0.9137
4,10,1960M05,1.63,1.63,1.63,…,…,…,0.14,0.404774,...,511.471832,11.42,684.75,213.4,2162.7,1631.0,253.8,35.27,83.5,0.9137
5,11,1960M06,1.63,1.63,1.63,…,…,…,0.14,0.404774,...,511.471832,11.42,691.59,202.4,2184.8,1631.0,249.8,35.27,83.5,0.9137
6,12,1960M07,1.63,1.63,1.63,…,…,…,0.14,0.404774,...,511.471832,11.42,702.39,196.2,2248.7,1631.0,248.7,35.27,83.5,0.9137
7,13,1960M08,1.63,1.63,1.63,…,…,…,0.14,0.404774,...,511.471832,11.42,675.94,195.3,2204.6,1631.0,241.0,35.27,83.5,0.9137
8,14,1960M09,1.63,1.63,1.63,…,…,…,0.14,0.404774,...,511.471832,11.42,647.06,192.7,2226.7,1631.0,240.1,35.27,83.5,0.9137
9,15,1960M10,1.63,1.63,1.63,…,…,…,0.14,0.404774,...,511.471832,11.42,612.66,185.2,2226.7,1631.0,242.3,35.27,83.5,0.9137

In [18]:
# Columns to keep
cols = ["5", "Unnamed: 1", "CRUDE_PETRO", "WHEAT_US_HRW", "RICE_05", "COPPER", "ALUMINUM"]

# Keep rows where 'Unnamed: 1' matches YYYYMM pattern
cmo1_valid = cmo1[cmo1["Unnamed: 1"].astype(str).str.match(r"^\d{4}M\d{2}$")].copy()

# Select relevant columns and rename date
cmo1_final = cmo1_valid[cols].rename(columns={"Unnamed: 1":"Date"})

# Parse Date from 'YYYYMmm' format
cmo1_final["Date"] = cmo1_final["Date"].apply(lambda x: pd.Timestamp(year=int(x[:4]), month=int(x[5:]), day=1))

# Filter for 2010-2024
cmo1_final = cmo1_final[(cmo1_final["Date"].dt.year >= 2010) & (cmo1_final["Date"].dt.year <= 2024)]

# Calculate log returns
for col in cols[2:]:
    cmo1_final[col + '_logret'] = np.log(cmo1_final[col] / cmo1_final[col].shift(1))

# Calculate rolling volatility
windows = [3, 6, 12]
for col in cols[2:]:
    for w in windows:
        cmo1_final[f"{col}_vol_{w}m"] = cmo1_final[col + '_logret'].rolling(w).std()

# Create shock indicators
for col in cols[2:]:
    cmo1_final[f"{col}_shock"] = (np.abs(cmo1_final[col + '_logret']) > 2 * cmo1_final[col + '_logret'].std()).astype(int)

cmo1_final.reset_index(drop=True, inplace=True)
cmo1_final.to_csv("./processed/proc_cmo_monthly.csv")
cmo1_final

,5,Date,CRUDE_PETRO,WHEAT_US_HRW,RICE_05,COPPER,ALUMINUM,CRUDE_PETRO_logret,WHEAT_US_HRW_logret,RICE_05_logret,...,COPPER_vol_6m,COPPER_vol_12m,ALUMINUM_vol_3m,ALUMINUM_vol_6m,ALUMINUM_vol_12m,CRUDE_PETRO_shock,WHEAT_US_HRW_shock,RICE_05_shock,COPPER_shock,ALUMINUM_shock
0,606,2010-01-01,77.121088,201.190932,568.800000,7386.250,2235.150,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0
1,607,2010-02-01,74.763016,194.000000,535.000000,6848.175,2048.925,-0.031053,-0.036396,-0.061262,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0
2,608,2010-03-01,79.297681,191.075072,502.200000,7462.826,2205.630,0.058886,-0.015192,-0.063268,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0
3,609,2010-04-01,84.182857,192.870000,466.000000,7745.075,2316.725,0.059782,0.009350,-0.074813,...,NaN,NaN,0.086561,NaN,NaN,0,0,0,0,0
4,610,2010-05-01,75.618317,181.605589,451.333333,6837.684,2040.526,-0.107293,-0.060179,-0.031979,...,NaN,NaN,0.109444,NaN,NaN,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,781,2024-08-01,78.121000,250.850000,589.000000,8971.960,2343.670,-0.063693,-0.036826,-0.001696,...,0.060592,0.045170,0.029643,0.060980,0.042027,0,0,0,0,0
176,782,2024-09-01,72.424333,269.690000,580.000000,9237.480,2449.920,-0.075717,0.072418,-0.015398,...,0.059217,0.045372,0.052932,0.062385,0.043189,0,0,0,0,0
177,783,2024-10-01,73.970667,272.850000,515.000000,9533.990,2595.580,0.021126,0.011649,-0.118861,...,0.048666,0.042740,0.031537,0.044919,0.045286,0,0,1,0,0
178,784,2024-11-01,72.291667,253.750000,511.000000,9075.730,2582.190,-0.022960,-0.072573,-0.007797,...,0.038693,0.046182,0.033144,0.044230,0.045558,0,0,0,0,0
179,785,2024-12-01,72.311000,252.170000,527.000000,8916.320,2541.020,0.000267,-0.006246,0.030831,...,0.035620,0.046431,0.039852,0.043125,0.045915,0,0,0,0,0

# **Climate Data: (Instrument Variable)**

In [19]:
oni_df = pd.read_csv("https://huggingface.co/datasets/aaronmat1905/ADA_Project_Data/resolve/main/raw/instruments/Monthly%20Oceanic%20Nino%20Index%20(ONI)%20-%20Wide.csv")
oni_df

    Year  DJF  JFM  FMA  MAM  AMJ  MJJ  JJA  JAS  ASO  SON  OND  NDJ
0   1950 -1.4 -1.2 -1.1 -1.2 -1.1 -0.9 -0.6 -0.6 -0.5 -0.6 -0.7 -0.8
1   1951 -0.8 -0.6 -0.2  0.2  0.2  0.4  0.5  0.7  0.8  0.9  0.7  0.6
2   1952  0.5  0.4  0.4  0.4  0.4  0.2  0.0  0.1  0.2  0.2  0.2  0.3
3   1953  0.5  0.6  0.7  0.7  0.7  0.7  0.7  0.7  0.8  0.8  0.8  0.7
4   1954  0.7  0.4  0.0 -0.4 -0.5 -0.5 -0.5 -0.7 -0.7 -0.6 -0.5 -0.5
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
63  2013 -0.4 -0.4 -0.3 -0.2 -0.2 -0.2 -0.3 -0.3 -0.2 -0.3 -0.3 -0.3
64  2014 -0.5 -0.5 -0.4 -0.2 -0.1  0.0 -0.1  0.0  0.1  0.4  0.5  0.6
65  2015  0.6  0.5  0.6  0.7  0.8  1.0  1.2  1.4  1.7  2.0  2.2  2.3
66  2016  2.2  2.0  1.6  1.1  0.6  0.1 -0.3 -0.6 -0.8 -0.8 -0.8 -0.7
67  2017 -0.4 -0.1  0.2  0.4  0.4  0.2 -0.1 -0.5  NaN  NaN  NaN  NaN

[68 rows x 13 columns]

In [20]:
# Melt the wide table into long format: columns = Year, Month, ONI
oni_long = oni_df.melt(id_vars=['Year'], var_name='Month', value_name='ONI')
oni_long

     Year Month  ONI
0    1950   DJF -1.4
1    1951   DJF -0.8
2    1952   DJF  0.5
3    1953   DJF  0.5
4    1954   DJF  0.7
..    ...   ...  ...
811  2013   NDJ -0.3
812  2014   NDJ  0.6
813  2015   NDJ  2.3
814  2016   NDJ -0.7
815  2017   NDJ  NaN

[816 rows x 3 columns]

In [21]:
# Mapping Month Names
# Assuming Month names are like 'DJF', 'JFM', etc. We'll approximate the month as the first month in the season
month_map = {
    'DJF': 1, 'JFM': 1, 'FMA': 2, 'MAM': 3, 'AMJ': 4, 'MJJ': 5,
    'JJA': 6, 'JAS': 7, 'ASO': 8, 'SON': 9, 'OND': 10, 'NDJ': 11
}
oni_long['Month_num'] = oni_long['Month'].map(month_map)
oni_long['Date'] = pd.to_datetime(dict(year=oni_long['Year'], month=oni_long['Month_num'], day=1))
oni_long

     Year Month  ONI  Month_num       Date
0    1950   DJF -1.4          1 1950-01-01
1    1951   DJF -0.8          1 1951-01-01
2    1952   DJF  0.5          1 1952-01-01
3    1953   DJF  0.5          1 1953-01-01
4    1954   DJF  0.7          1 1954-01-01
..    ...   ...  ...        ...        ...
811  2013   NDJ -0.3         11 2013-11-01
812  2014   NDJ  0.6         11 2014-11-01
813  2015   NDJ  2.3         11 2015-11-01
814  2016   NDJ -0.7         11 2016-11-01
815  2017   NDJ  NaN         11 2017-11-01

[816 rows x 5 columns]

In [22]:
# Filtering for 2010-2024
start_year = 2010
end_year = 2024
oni_filtered = oni_long[(oni_long['Date'].dt.year >= start_year) & (oni_long['Date'].dt.year <= end_year)]

# Warning if data doesn't cover full range
available_years = oni_filtered['Date'].dt.year.unique()
if available_years.min() > start_year or available_years.max() < end_year:
    print(f"⚠️ Warning: ONI dataset only covers {available_years.min()} to {available_years.max()}, "
          f"requested range was {start_year}-{end_year}.")

oni_filtered

⚠️ Warning: ONI dataset only covers 2010 to 2017, requested range was 2010-2024.

     Year Month  ONI  Month_num       Date
60   2010   DJF  1.3          1 2010-01-01
61   2011   DJF -1.3          1 2011-01-01
62   2012   DJF -0.7          1 2012-01-01
63   2013   DJF -0.4          1 2013-01-01
64   2014   DJF -0.5          1 2014-01-01
..    ...   ...  ...        ...        ...
811  2013   NDJ -0.3         11 2013-11-01
812  2014   NDJ  0.6         11 2014-11-01
813  2015   NDJ  2.3         11 2015-11-01
814  2016   NDJ -0.7         11 2016-11-01
815  2017   NDJ  NaN         11 2017-11-01

[96 rows x 5 columns]

In [23]:
# Classify ENSO Phases: 
def classify_enso(oni): 
    if oni >= 0.5: 
        return 'El Nino'
    elif oni <= -0.5: 
        return 'La Nina'
    else:
        return 'Neutral'
oni_filtered["ENSO_Phase"] = oni_filtered["ONI"].apply(classify_enso)

# Applying Lag variables: (1,3,6 months)
oni_filtered = oni_filtered.sort_values("Date").reset_index(drop=True)
for lag in [1,3,6]: 
    oni_filtered[f"ONI_lag_{lag}m"] = oni_filtered["ONI"].shift(lag)

C:\Users\Aaron\AppData\Local\Temp\ipykernel_17652\1374973892.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  oni_filtered["ENSO_Phase"] = oni_filtered["ONI"].apply(classify_enso)

In [24]:
# Saving to DF: oni_filtered
oni_filtered.to_csv("./processed/climate_oni_clean.csv")
oni_filtered

,Year,Month,ONI,Month_num,Date,ENSO_Phase,ONI_lag_1m,ONI_lag_3m,ONI_lag_6m
0,2010,DJF,1.3,1,2010-01-01,El Nino,NaN,NaN,NaN
1,2010,JFM,1.2,1,2010-01-01,El Nino,1.3,NaN,NaN
2,2010,FMA,0.9,2,2010-02-01,El Nino,1.2,NaN,NaN
3,2010,MAM,0.5,3,2010-03-01,El Nino,0.9,1.3,NaN
4,2010,AMJ,0.0,4,2010-04-01,Neutral,0.5,1.2,NaN
...,...,...,...,...,...,...,...,...,...
91,2017,JAS,-0.5,7,2017-07-01,La Nina,-0.1,0.4,-0.4
92,2017,ASO,NaN,8,2017-08-01,Neutral,-0.5,0.2,0.2
93,2017,SON,NaN,9,2017-09-01,Neutral,NaN,-0.1,0.4
94,2017,OND,NaN,10,2017-10-01,Neutral,NaN,-0.5,0.4
95,2017,NDJ,NaN,11,2017-11-01,Neutral,NaN,NaN,0.2

# **Trade Data**

https://data.imf.org/en/datasets/IMF.STA:IMTS

https://data.imf.org/en/Dashboards/IMTS%20Dashboard

In [27]:
import polars as pl

In [35]:
# Configuration
CHUNK_SIZE = 100000
TARGET_PARTNERS = ['United States', 'China', 'Saudi Arabia', 'UAE', 
                   'Qatar', 'Germany', 'France', 'Italy']

# HS Code mappings
COMMODITY_MAPPING = {
    'Energy': ['27'],
    'Food': ['10', '11'],
    'Metals': ['74', '76']
}
def map_commodity_group(indicator):
    if indicator is None:
        return 'Other'
    hs_code = str(indicator)[:2]
    for group, codes in COMMODITY_MAPPING.items():
        if hs_code in codes:
            return group
    return 'Other'

In [36]:
# Read and process with Polars (more efficient than pandas)
tradeDf = pl.scan_csv("IMTSTrade.csv")
tradeDf = tradeDf.filter(
    (pl.col('COUNTRY').str.contains('India')) &
    (pl.col('COUNTERPART_COUNTRY').is_in(TARGET_PARTNERS))
)
# Collect Filtered Data (Lazy evaluation)
tradeDf = tradeDf.collect()
# Add Commodity Group
tradeDf = tradeDf.with_columns(
    pl.col('INDICATOR').map_elements(map_commodity_group).alias('commodity_group')
)

In [39]:
# Get 2010-2024 monthly columns
date_cols = [col for col in tradeDf.columns 
             if '-M' in str(col) and 2010 <= int(str(col).split('-')[0]) <= 2024]

# Select columns
keep_cols = ['COUNTRY', 'COUNTERPART_COUNTRY', 'TRADE_FLOW', 'commodity_group'] + date_cols
tradeDf = tradeDf.select(keep_cols)

# Convert wide to long
df_long = tradeDf.unpivot(
    index=['COUNTRY', 'COUNTERPART_COUNTRY', 'TRADE_FLOW', 'commodity_group'],
    on=date_cols,
    variable_name='date',
    value_name='trade_value_usd'
)

# Save
df_long.write_csv('trade_india_bilateral.csv')
print(f"Done! Shape: {df_long.shape}")

Done! Shape: (9720, 6)

## WITS-Partner.xlsx

In [22]:
# Step 1: Load Dataset
witsPath = "raw\WITS-Partner.xlsx"
wits_df = pd.read_excel(witsPath, sheet_name = "Partner")
iso_df = pd.read_csv("./processed/trade_india_bilateral.csv")

<>:2: SyntaxWarning: invalid escape sequence '\W'
<>:2: SyntaxWarning: invalid escape sequence '\W'
C:\Users\Aaron\AppData\Local\Temp\ipykernel_19376\1846826700.py:2: SyntaxWarning: invalid escape sequence '\W'
  witsPath = "raw\WITS-Partner.xlsx"

In [23]:
# Step 2: Extract all unique country names from WITS
reporters = wits_df[['Reporter Name']].rename(columns={'Reporter Name': 'Country Name'})
partners = wits_df[['Partner Name']].rename(columns={'Partner Name': 'Country Name'})
country_list = pd.concat([reporters, partners]).drop_duplicates().reset_index(drop=True)

In [24]:
# Step 3: Function to get ISO3 code safely
def get_iso3(name):
    try:
        return pycountry.countries.lookup(name).alpha_3
    except:
        return None

# Step 4: Function to get region (continent)
def get_region(name):
    try:
        iso = pycountry.countries.lookup(name).alpha_2
        continent_code = pc.country_alpha2_to_continent_code(iso)
        return pc.convert_continent_code_to_continent_name(continent_code)
    except:
        return None

In [25]:
# Step 5: Apply the functions
country_list["ISO3"] = country_list["Country Name"].apply(get_iso3)
country_list["Region"] = country_list["Country Name"].apply(get_region)

In [26]:
# Step 6: Merge with ISO dataset (for both COUNTRY and COUNTERPART_COUNTRY)
merged_iso = iso_df.merge(
    country_list[["Country Name", "ISO3", "Region"]],
    how="left",
    left_on="COUNTRY",
    right_on="Country Name"
).rename(columns={
    "ISO3": "ISO3_COUNTRY",
    "Region": "Region_COUNTRY"
}).drop(columns=["Country Name"])

merged_iso = merged_iso.merge(
    country_list[["Country Name", "ISO3", "Region"]],
    how="left",
    left_on="COUNTERPART_COUNTRY",
    right_on="Country Name"
).rename(columns={
    "ISO3": "ISO3_COUNTERPART",
    "Region": "Region_COUNTERPART"
}).drop(columns=["Country Name"])

# Step 7: Save processed mappings
country_list.to_csv("./processed/country_mapping.csv", index=False)
merged_iso.to_csv("./processed/iso_dataset_enriched.csv", index=False)

# **Index of Industrial Production**

In [37]:
# Read the Excel File
iipPath = "IndexofIndustrialProduction.xlsx"

In [67]:
baseYear11_12 = pd.read_excel(iipPath, sheet_name = "IIP-Industry-Base�2011-12")
baseYear11_12 = baseYear11_12.drop([0,1,2,3])
baseYear11_12.columns = baseYear11_12.iloc[0]
baseYear11_12 = baseYear11_12[1:]
baseYear11_12 = baseYear11_12.reset_index(drop=True)
baseYear11_12 = baseYear11_12.drop([23,24,25])
baseYear11_12 = baseYear11_12.reset_index(drop=True)
baseYear11_12 = baseYear11_12.drop(baseYear11_12.columns[0], axis=1)
baseYear11_12 = baseYear11_12.rename(columns={'4': 'sl_no'})\

baseYear11_12.head(5)

C:\Users\Aaron\AppData\Roaming\Python\Python313\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

4,Item Description,2025:08 (AUG),2025:07 (JUL),2025:06 (JUN),2025:05 (MAY),2025:04 (APR),2025:03 (MAR),2025:02 (FEB),2025:01 (JAN),2024:12 (DEC),...,2013:01 (JAN),2012:12 (DEC),2012:11 (NOV),2012:10 (OCT),2012:09 (SEP),2012:08 (AUG),2012:07 (JUL),2012:06 (JUN),2012:05 (MAY),2012:04 (APR)
0,General Index,151.7,156.2,153.3,157.6,151.8,166.3,151.1,161.6,158,...,107.2,107.1,98.3,103.7,99,99.9,101.5,102.3,105,99.3
1,Manufacture of basic metals,253.1,255.2,239.4,243.5,235.6,252.2,224.3,242.2,236.8,...,109.9,109.9,104.5,102.9,105.3,101.3,109.5,106.4,119.3,104.1
2,Manufacture of beverages,99.8,105.1,115.7,131.4,121.9,133.4,116.9,117.1,104.2,...,93.7,91.9,90.2,96,82.3,85.1,93.1,130.5,147.1,134.2
3,Manufacture of chemicals and chemical products,127,134.2,126.6,127.9,121.8,129.8,121.9,130.7,131,...,106.2,105.5,98.7,106.2,102.6,106.5,104.9,102.6,102.9,100.4
4,Manufacture of coke and refined petroleum prod...,137.8,141.9,138.2,142.2,132.5,146,131.8,146.3,147.4,...,112.2,112.1,108,112.5,98.1,105.7,105.7,103.7,103.4,96

In [68]:
# Next Level Processing
# Clean column names - extract year-month from format "2025:08 (AUG)"
baseYear11_12.columns = ['sector_name'] + [col.split(' ')[0].replace(':', '-') 
                                 for col in baseYear11_12.columns[1:]]

# Melt to long format
date_cols = [col for col in baseYear11_12.columns if col != 'sector_name']

baseYear11_12_long = baseYear11_12.melt(
    id_vars=['sector_name'],
    value_vars=date_cols,
    var_name='date',
    value_name='iip_index'
)

# Convert types
baseYear11_12_long['iip_index'] = pd.to_numeric(baseYear11_12_long['iip_index'], errors='coerce')
baseYear11_12_long['date'] = pd.to_datetime(baseYear11_12_long['date'], format='%Y-%m')

# Filter 2010-2024
baseYear11_12_long = baseYear11_12_long[(baseYear11_12_long['date'] >= '2010-01') & (baseYear11_12_long['date'] <= '2024-12')]

# Sort and calculate growth rates
baseYear11_12_long = baseYear11_12_long.sort_values(['sector_name', 'date']).reset_index(drop=True)
baseYear11_12_long['iip_mom_growth'] = baseYear11_12_long.groupby('sector_name')['iip_index'].pct_change() * 100
baseYear11_12_long['iip_yoy_growth'] = baseYear11_12_long.groupby('sector_name')['iip_index'].pct_change(12) * 100

# Energy-intensive flag
energy_sectors = [
    'Manufacture of chemicals and chemical products',
    'Manufacture of basic metals',
    'Manufacture of coke and refined petroleum prod'
]
baseYear11_12_long['is_energy_intensive'] = baseYear11_12_long['sector_name'].isin(energy_sectors)

# Save
baseYear11_12_long.to_csv('iip_sectoral.csv', index=False)
print(f"Done! Shape: {baseYear11_12_long.shape}")

Done! Shape: (3519, 6)

# **WPI Processing**

In [73]:
wpi_path = ".\WholesalePriceIndexMonthlyData.xlsx"
wpi_df = pd.read_excel(wpi_path , sheet_name = "WPI Index (Base� 2011-12)", header=5)
wpi_df = wpi_df.drop(wpi_df.columns[0], axis=1)
wpi_df = wpi_df.drop([869, 870, 871])
wpi_df.head(5)

<>:1: SyntaxWarning: invalid escape sequence '\W'
<>:1: SyntaxWarning: invalid escape sequence '\W'
C:\Users\Aaron\AppData\Local\Temp\ipykernel_19376\1400697361.py:1: SyntaxWarning: invalid escape sequence '\W'
  wpi_path = ".\WholesalePriceIndexMonthlyData.xlsx"
C:\Users\Aaron\AppData\Roaming\Python\Python313\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Commodity Description,Commodity Weight,Sep-2025,Aug-2025,Jul-2025,Jun-2025,May-2025,Apr-2025,Mar-2025,Feb-2025,...,Jan-2012,Dec-2011,Nov-2011,Oct-2011,Sep-2011,Aug-2011,Jul-2011,Jun-2011,May-2011,Apr-2011
0,ALL COMMODITIES,100.00000,154.9,155.2,154.4,153.7,153.7,154.2,154.8,154.9,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
1,I PRIMARY ARTICLES,22.61756,189,191.0,188.5,186.1,184.8,185.4,185.5,186.8,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
2,(A). FOOD ARTICLES,15.25585,199.8,202.6,199.7,198.0,196.8,197.4,194.8,195.9,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
3,a. FOOD GRAINS (CEREALS+PULSES),3.46238,204.4,205.3,204.1,203.0,204.0,206.6,210.0,212.4,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
4,a1. CEREALS,2.82378,206.1,206.7,205.9,204.4,204.7,207.2,211.1,213.1,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0

In [78]:
keep_categories = [
    'II FUEL & POWER',
    'III   MANUFACTURED PRODUCTS',
    '(A).  FOOD ARTICLES'
]

wpi_filtered = wpi_df[wpi_df['Commodity Description'].isin(keep_categories)].copy()

In [86]:
# Reshaping to long format: 
date_cols = [col for col in wpi_filtered.columns if col not in ["Community Description", "Commodity Weight"]]
wpi_long = wpi_filtered.melt(
    id_vars=["Commodity Description"], 
    value_vars = date_cols, 
    var_name='date', 
    value_name="wpi_index"
)
wpi_long

           Commodity Description      date wpi_index
0            (A).  FOOD ARTICLES  Sep-2025     199.8
1                II FUEL & POWER  Sep-2025     143.4
2    III   MANUFACTURED PRODUCTS  Sep-2025     145.2
3            (A).  FOOD ARTICLES  Aug-2025     202.6
4                II FUEL & POWER  Aug-2025     143.6
..                           ...       ...       ...
517              II FUEL & POWER  May-2011     100.0
518  III   MANUFACTURED PRODUCTS  May-2011     100.0
519          (A).  FOOD ARTICLES  Apr-2011     100.0
520              II FUEL & POWER  Apr-2011     100.0
521  III   MANUFACTURED PRODUCTS  Apr-2011     100.0

[522 rows x 3 columns]

In [87]:
# Cleaning Dates: 
wpi_long["date"] = pd.to_datetime(wpi_long['date'], format= "%b-%Y")
# Filter from 2010-2024
wpi_long = wpi_long[(wpi_long['date']>='2010-01')&(wpi_long['date']<='2024-12')]
# Calculate inflation
wpi_long = wpi_long.sort_values(["Commodity Description",'date'])
wpi_long['wpi_inflation'] = wpi_long.groupby('Commodity Description')['wpi_index'].pct_change(12)*100
wpi_long.columns = ["category", "date", "wpi_index", "wpi_inflation"]
wpi_long.to_csv('wpi_inflation.csv', index=False)

# **GDP Quarterly Estimates**

In [113]:
constant = "GDP_Constant.xlsx"
current = "GDP_Current.xlsx"
gvaCurrent = "GVA_Current.xlsx"

In [122]:
constantDF = pd.read_excel(constant, sheet_name = "NAS � 2011-12")
constantDF = constantDF.drop([0,1,2,3])
constantDF = constantDF.drop([63,64])
constantDF = constantDF.drop([5])
constantDF = constantDF.drop(constantDF.columns[0], axis=1)
constantDF.columns = constantDF.iloc[0]
constantDF = constantDF[1:]
constantDF = constantDF.reset_index(drop=True)
constantDF.head(3)

C:\Users\Aaron\AppData\Roaming\Python\Python313\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

4,Item/ Year,Quarter,1. PFCE,2. GFCE,3. GFCF,4. Change in Stock,5. Valuables,6. Export of goods & services,7. Import of goods & services,8. Discrepancies,9. Gross Domestic Product
0,2011-12,Q1,1236604.356524,204165.145867,696954.79096,52515.895197,59926.727767,506866.908703,643806.28656,-10364.720911,2102862.817545
1,NaN,Q2,1127292.933234,257146.702583,727748.91684,49135.349826,65430.202766,507189.192295,640633.573165,-50439.559969,2042870.164409
2,NaN,Q3,1264939.500233,220375.098457,752161.74159,49219.423177,60517.138878,553499.208075,713920.562734,38343.680297,2225135.227974

In [121]:
currentDF = pd.read_excel(current, sheet_name = "NAS � 2011-12")
currentDF = currentDF.drop([0,1,2,3,5])
currentDF = currentDF.drop([63,64])
currentDF.columns = currentDF.iloc[0]
currentDF = currentDF[1:]
currentDF = currentDF.drop(currentDF.columns[0], axis = 1)
currentDF = currentDF.reset_index(drop=True)
currentDF.head(3)

4,Industry/ Year,Quarter,1. PFCE,2. GFCE,3. GFCF,4. Change in Stock,5. Valuables,6. Export of goods & services,7. Import of goods & services,8. Discrepancies,9. Gross Domestic Product
0,2011-12,Q1,1196397.952332,195528.210568,682095.084282,51753.982538,55260.046838,493074.877692,626234.557756,-4379.305342,2043496.291152
1,NaN,Q2,1119458.930174,255853.448201,722663.54285,48668.052184,65317.846061,503937.314665,636896.386838,-49533.582125,2029469.165172
2,NaN,Q3,1281386.002348,223407.767629,756940.133621,49374.633381,62021.091004,557993.267654,719821.613296,33550.946716,2244852.229057

In [125]:
gvaCurrentDF = pd.read_excel(gvaCurrent, sheet_name = "NAS� 2011-12")
gvaCurrentDF = gvaCurrentDF.drop([0,1,2,3,5])
gvaCurrentDF = gvaCurrentDF.drop([63, 64])
gvaCurrentDF = gvaCurrentDF.drop(gvaCurrentDF.columns[0], axis=1)
gvaCurrentDF.columns = gvaCurrentDF.iloc[0]
gvaCurrentDF = gvaCurrentDF[1:]
gvaCurrentDF = gvaCurrentDF.reset_index(drop=True)
gvaCurrentDF.head(10)

C:\Users\Aaron\AppData\Roaming\Python\Python313\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

4,Year/ Industry,Quarter,"1. Agriculture, Forestry and Fishing",2. Mining & Quarrying,3. Manufacturing,"4. Electricity, Gas, Water Supply & Other Utility Services",5. Construction,"6. Trade, Hotels, Transport, Communication and Services Related to Broadcasting","7. Financial, Real Estate and Professional Services","8. Public Administration, Defence and Other Services",Gross Value Added at Basic Prices
0,2011-12,Q1,323221.716367,64670.249371,350857.054299,44661.969218,182218.74892,330069.720519,395101.997565,225668.840218,1916470.296477
1,NaN,Q2,270231.382145,55462.632148,329936.530297,46631.133177,189095.78083,337631.447422,407657.038409,263656.968795,1900302.913225
2,NaN,Q3,505545.338931,65815.176712,334726.673688,47957.242315,197079.148056,351579.170372,343064.869906,245398.661198,2091166.281178
3,NaN,Q4,402948.88451,75087.310791,394465.312721,47417.65529,208940.87114,393835.72412,385053.466472,291257.277608,2199006.502653
4,2012-13,Q1,360094.45973,75789.467127,374606.430855,54330.440096,203182.405734,394347.314537,461069.590434,263981.766955,2187401.875467
5,NaN,Q2,302960.792111,59898.655246,395938.880774,52470.721176,202601.557534,403845.636864,479903.820859,304586.744173,2202206.808736
6,NaN,Q3,557596.768357,70446.721063,377768.415458,54453.29718,211962.691841,412552.376105,400489.210046,271594.083792,2356863.563842
7,NaN,Q4,454454.482687,79707.164631,424523.16942,54095.18658,231618.241862,453240.383832,435169.435589,323411.791508,2456219.856108
8,2013-14,Q1,407712.546003,70645.481117,413130.914005,62946.292588,221809.995775,427469.740376,533978.442976,303684.086521,2441377.220595
9,NaN,Q2,350835.199249,63145.103589,424394.519085,65066.079179,224408.153014,456945.898054,585665.609447,341392.023265,2511852.335712

In [128]:
import pandas as pd

def create_date(row, year_col):
    year_str = str(row[year_col])
    quarter = row['Quarter']
    
    # Skip NaN
    if year_str == 'nan' or pd.isna(quarter):
        return None
    
    # Extract first year (e.g., '2011-12' -> '2011')
    year = int(year_str.split('-')[0])
    
    # Map quarter to month
    q_map = {'Q1': '04', 'Q2': '07', 'Q3': '10', 'Q4': '01'}
    month = q_map[quarter]
    
    # Q4 belongs to next year
    if quarter == 'Q4':
        year += 1
    
    return f"{year}-{month}-01"

# Process constantDF and currentDF (already have 'date' column)
constantDF['date'] = constantDF.apply(lambda row: create_date(row, 'date'), axis=1)
currentDF['date'] = currentDF.apply(lambda row: create_date(row, 'date'), axis=1)

# Process gvaCurrentDF (has 'Year/ Industry' column)
gvaCurrentDF['date'] = gvaCurrentDF.apply(lambda row: create_date(row, 'Year/ Industry'), axis=1)

# Drop NaN and convert to datetime
for df in [constantDF, currentDF, gvaCurrentDF]:
    df.dropna(subset=['date'], inplace=True)
    df['date'] = pd.to_datetime(df['date'])

# Keep only GDP column
gdp_const = constantDF[['date', '9. Gross Domestic Product']].copy()
gdp_const.columns = ['date', 'gdp_constant']

gdp_curr = currentDF[['date', '9. Gross Domestic Product']].copy()
gdp_curr.columns = ['date', 'gdp_current']

# Merge
gdp_merged = gdp_const.merge(gdp_curr, on='date')

# Calculate YoY growth
gdp_merged['gdp_growth_yoy'] = gdp_merged['gdp_constant'].pct_change(4) * 100

# Filter 2010-2024
gdp_merged = gdp_merged[(gdp_merged['date'] >= '2010-01') & (gdp_merged['date'] <= '2024-12')]

# Resample to monthly
gdp_merged = gdp_merged.set_index('date').resample('MS').ffill().reset_index()

# Save
gdp_merged.to_csv('gdp_quarterly.csv', index=False)
print(f"Done! Shape: {gdp_merged.shape}")

Done! Shape: (157, 4)

C:\Users\Aaron\AppData\Local\Temp\ipykernel_19376\4072768053.py:47: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  gdp_merged['gdp_growth_yoy'] = gdp_merged['gdp_constant'].pct_change(4) * 100

# **OECD Data**

In [18]:
import pandas as pd

# Read the file
df = pd.read_csv('OECD_file.csv', skiprows=1)

# Extract data by position
oecd_clean = pd.DataFrame({
    'country': df.iloc[:, 4],
    'date': df.iloc[:, 20],
    'cpi_growth': df.iloc[:, 22]
})

# Convert types
oecd_clean['date'] = pd.to_datetime(oecd_clean['date'], format='%Y-%m')
oecd_clean['cpi_growth'] = pd.to_numeric(oecd_clean['cpi_growth'], errors='coerce')

# Remove G20 aggregate (keep only individual countries)
oecd_clean = oecd_clean[oecd_clean['country'] != 'G20']

# Filter 2010-2024
oecd_clean = oecd_clean[(oecd_clean['date'] >= '2010-01') & (oecd_clean['date'] <= '2024-12')]

# Pivot wide (all countries as columns)
oecd_wide = oecd_clean.pivot(index='date', columns='country', values='cpi_growth').reset_index()

# Calculate G20 average (excluding India)
country_cols = [col for col in oecd_wide.columns if col not in ['date', 'India']]
oecd_wide['g20_avg_cpi_growth'] = oecd_wide[country_cols].mean(axis=1)

# Save
oecd_wide.to_csv('global_macro.csv', index=False)
print(f"Done! Shape: {oecd_wide.shape}")
print(f"Countries: {[col for col in oecd_wide.columns if col != 'date']}")

Done! Shape: (4, 20)
Countries: ['ARG', 'AUS', 'BRA', 'CAN', 'CHN', 'DEU', 'EA20', 'EU27_2020', 'FRA', 'GBR', 'IDN', 'IND', 'ITA', 'KOR', 'SAU', 'TUR', 'USA', 'ZAF', 'g20_avg_cpi_growth']

In [19]:
oecd_wide

country,date,ARG,AUS,BRA,CAN,CHN,DEU,EA20,EU27_2020,FRA,GBR,IDN,IND,ITA,KOR,SAU,TUR,USA,ZAF,g20_avg_cpi_growth
0,2024-09-01,209.0011,NaN,4.424788,1.640379,0.4,1.8,1.7,2.1,1.4,1.7,1.84,4.218182,0.7,1.595038,1.695224,49.5,2.440633,NaN,17.884709
1,2024-10-01,192.9950,NaN,4.758112,2.017654,0.3,2.4,2.0,2.3,1.6,2.3,1.71,4.407515,1.0,1.253642,1.884216,48.7,2.597905,2.774923,16.176410
2,2024-11-01,166.0250,2.424688,4.872950,1.889169,0.2,2.4,2.2,2.5,1.7,2.6,1.55,3.882099,1.5,1.526447,1.980738,47.1,2.749380,2.777778,13.882125
3,2024-12-01,117.7636,NaN,4.831197,1.831965,0.1,2.8,2.4,2.7,1.8,2.5,1.57,3.530259,1.4,1.933824,1.933727,44.4,2.888057,2.880658,11.603723