In [ ]:
!pip install -q datasets torch

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [15]:
import pandas as pd 
import numpy as np

# **COMMODITY PRICES DATA**

In [3]:
token="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"

In [7]:
import pandas as pd
cmoMonthlyPrices = "https://huggingface.co/datasets/aaronmat1905/ADA_Project_Data/resolve/main/raw/commodity_prices/extracted/cmoMonthly_monthly_prices.csv"
cmoIndexWeights = "https://huggingface.co/datasets/aaronmat1905/ADA_Project_Data/resolve/main/raw/commodity_prices/extracted/cmoMonthly_index_weights.csv"
cmoMonthlyIndices = "https://huggingface.co/datasets/aaronmat1905/ADA_Project_Data/resolve/main/raw/commodity_prices/extracted/cmoMonthly_monthly_indices.csv"

In [41]:
# Read CSV, skip first 6 rows (metadata), use proper header
cmo1 = pd.read_csv(cmoMonthlyPrices, skiprows=6)
cmo1.head(10)

,5,Unnamed: 1,CRUDE_PETRO,CRUDE_BRENT,CRUDE_DUBAI,CRUDE_WTI,COAL_AUS,COAL_SAFRICA,NGAS_US,NGAS_EUR,...,ALUMINUM,IRON_ORE,COPPER,LEAD,Tin,NICKEL,Zinc,GOLD,PLATINUM,SILVER
0,6,1960M01,1.63,1.63,1.63,…,…,…,0.14,0.404774,...,511.471832,11.42,715.40,206.1,2180.4,1631.0,260.8,35.27,83.5,0.9137
1,7,1960M02,1.63,1.63,1.63,…,…,…,0.14,0.404774,...,511.471832,11.42,728.19,203.7,2180.4,1631.0,244.9,35.27,83.5,0.9137
2,8,1960M03,1.63,1.63,1.63,…,…,…,0.14,0.404774,...,511.471832,11.42,684.94,210.3,2173.8,1631.0,248.7,35.27,83.5,0.9137
3,9,1960M04,1.63,1.63,1.63,…,…,…,0.14,0.404774,...,511.471832,11.42,723.11,213.6,2178.2,1631.0,254.6,35.27,83.5,0.9137
4,10,1960M05,1.63,1.63,1.63,…,…,…,0.14,0.404774,...,511.471832,11.42,684.75,213.4,2162.7,1631.0,253.8,35.27,83.5,0.9137
5,11,1960M06,1.63,1.63,1.63,…,…,…,0.14,0.404774,...,511.471832,11.42,691.59,202.4,2184.8,1631.0,249.8,35.27,83.5,0.9137
6,12,1960M07,1.63,1.63,1.63,…,…,…,0.14,0.404774,...,511.471832,11.42,702.39,196.2,2248.7,1631.0,248.7,35.27,83.5,0.9137
7,13,1960M08,1.63,1.63,1.63,…,…,…,0.14,0.404774,...,511.471832,11.42,675.94,195.3,2204.6,1631.0,241.0,35.27,83.5,0.9137
8,14,1960M09,1.63,1.63,1.63,…,…,…,0.14,0.404774,...,511.471832,11.42,647.06,192.7,2226.7,1631.0,240.1,35.27,83.5,0.9137
9,15,1960M10,1.63,1.63,1.63,…,…,…,0.14,0.404774,...,511.471832,11.42,612.66,185.2,2226.7,1631.0,242.3,35.27,83.5,0.9137

In [42]:
# Columns to keep
cols = ["5", "Unnamed: 1", "CRUDE_PETRO", "WHEAT_US_HRW", "RICE_05", "COPPER", "ALUMINUM"]

# Keep rows where 'Unnamed: 1' matches YYYYMM pattern
cmo1_valid = cmo1[cmo1["Unnamed: 1"].astype(str).str.match(r"^\d{4}M\d{2}$")].copy()

# Select relevant columns and rename date
cmo1_final = cmo1_valid[cols].rename(columns={"Unnamed: 1":"Date"})

# Parse Date from 'YYYYMmm' format
cmo1_final["Date"] = cmo1_final["Date"].apply(lambda x: pd.Timestamp(year=int(x[:4]), month=int(x[5:]), day=1))

# Filter for 2010-2024
cmo1_final = cmo1_final[(cmo1_final["Date"].dt.year >= 2010) & (cmo1_final["Date"].dt.year <= 2024)]

# Calculate log returns
for col in cols[2:]:
    cmo1_final[col + '_logret'] = np.log(cmo1_final[col] / cmo1_final[col].shift(1))

# Calculate rolling volatility
windows = [3, 6, 12]
for col in cols[2:]:
    for w in windows:
        cmo1_final[f"{col}_vol_{w}m"] = cmo1_final[col + '_logret'].rolling(w).std()

# Create shock indicators
for col in cols[2:]:
    cmo1_final[f"{col}_shock"] = (np.abs(cmo1_final[col + '_logret']) > 2 * cmo1_final[col + '_logret'].std()).astype(int)

cmo1_final.reset_index(drop=True, inplace=True)
cmo1_final.to_csv("./processed/proc_cmo_monthly.csv")
cmo1_final

,5,Date,CRUDE_PETRO,WHEAT_US_HRW,RICE_05,COPPER,ALUMINUM,CRUDE_PETRO_logret,WHEAT_US_HRW_logret,RICE_05_logret,...,COPPER_vol_6m,COPPER_vol_12m,ALUMINUM_vol_3m,ALUMINUM_vol_6m,ALUMINUM_vol_12m,CRUDE_PETRO_shock,WHEAT_US_HRW_shock,RICE_05_shock,COPPER_shock,ALUMINUM_shock
0,606,2010-01-01,77.121088,201.190932,568.800000,7386.250,2235.150,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0
1,607,2010-02-01,74.763016,194.000000,535.000000,6848.175,2048.925,-0.031053,-0.036396,-0.061262,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0
2,608,2010-03-01,79.297681,191.075072,502.200000,7462.826,2205.630,0.058886,-0.015192,-0.063268,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0
3,609,2010-04-01,84.182857,192.870000,466.000000,7745.075,2316.725,0.059782,0.009350,-0.074813,...,NaN,NaN,0.086561,NaN,NaN,0,0,0,0,0
4,610,2010-05-01,75.618317,181.605589,451.333333,6837.684,2040.526,-0.107293,-0.060179,-0.031979,...,NaN,NaN,0.109444,NaN,NaN,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,781,2024-08-01,78.121000,250.850000,589.000000,8971.960,2343.670,-0.063693,-0.036826,-0.001696,...,0.060592,0.045170,0.029643,0.060980,0.042027,0,0,0,0,0
176,782,2024-09-01,72.424333,269.690000,580.000000,9237.480,2449.920,-0.075717,0.072418,-0.015398,...,0.059217,0.045372,0.052932,0.062385,0.043189,0,0,0,0,0
177,783,2024-10-01,73.970667,272.850000,515.000000,9533.990,2595.580,0.021126,0.011649,-0.118861,...,0.048666,0.042740,0.031537,0.044919,0.045286,0,0,1,0,0
178,784,2024-11-01,72.291667,253.750000,511.000000,9075.730,2582.190,-0.022960,-0.072573,-0.007797,...,0.038693,0.046182,0.033144,0.044230,0.045558,0,0,0,0,0
179,785,2024-12-01,72.311000,252.170000,527.000000,8916.320,2541.020,0.000267,-0.006246,0.030831,...,0.035620,0.046431,0.039852,0.043125,0.045915,0,0,0,0,0

# **Climate Data: (Instrument Variable)**

In [45]:
oni_df = pd.read_csv("https://huggingface.co/datasets/aaronmat1905/ADA_Project_Data/resolve/main/raw/instruments/Monthly%20Oceanic%20Nino%20Index%20(ONI)%20-%20Wide.csv")
oni_df

    Year  DJF  JFM  FMA  MAM  AMJ  MJJ  JJA  JAS  ASO  SON  OND  NDJ
0   1950 -1.4 -1.2 -1.1 -1.2 -1.1 -0.9 -0.6 -0.6 -0.5 -0.6 -0.7 -0.8
1   1951 -0.8 -0.6 -0.2  0.2  0.2  0.4  0.5  0.7  0.8  0.9  0.7  0.6
2   1952  0.5  0.4  0.4  0.4  0.4  0.2  0.0  0.1  0.2  0.2  0.2  0.3
3   1953  0.5  0.6  0.7  0.7  0.7  0.7  0.7  0.7  0.8  0.8  0.8  0.7
4   1954  0.7  0.4  0.0 -0.4 -0.5 -0.5 -0.5 -0.7 -0.7 -0.6 -0.5 -0.5
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
63  2013 -0.4 -0.4 -0.3 -0.2 -0.2 -0.2 -0.3 -0.3 -0.2 -0.3 -0.3 -0.3
64  2014 -0.5 -0.5 -0.4 -0.2 -0.1  0.0 -0.1  0.0  0.1  0.4  0.5  0.6
65  2015  0.6  0.5  0.6  0.7  0.8  1.0  1.2  1.4  1.7  2.0  2.2  2.3
66  2016  2.2  2.0  1.6  1.1  0.6  0.1 -0.3 -0.6 -0.8 -0.8 -0.8 -0.7
67  2017 -0.4 -0.1  0.2  0.4  0.4  0.2 -0.1 -0.5  NaN  NaN  NaN  NaN

[68 rows x 13 columns]

In [46]:
# Melt the wide table into long format: columns = Year, Month, ONI
oni_long = oni_df.melt(id_vars=['Year'], var_name='Month', value_name='ONI')
oni_long

     Year Month  ONI
0    1950   DJF -1.4
1    1951   DJF -0.8
2    1952   DJF  0.5
3    1953   DJF  0.5
4    1954   DJF  0.7
..    ...   ...  ...
811  2013   NDJ -0.3
812  2014   NDJ  0.6
813  2015   NDJ  2.3
814  2016   NDJ -0.7
815  2017   NDJ  NaN

[816 rows x 3 columns]

In [47]:
# Mapping Month Names
# Assuming Month names are like 'DJF', 'JFM', etc. We'll approximate the month as the first month in the season
month_map = {
    'DJF': 1, 'JFM': 1, 'FMA': 2, 'MAM': 3, 'AMJ': 4, 'MJJ': 5,
    'JJA': 6, 'JAS': 7, 'ASO': 8, 'SON': 9, 'OND': 10, 'NDJ': 11
}
oni_long['Month_num'] = oni_long['Month'].map(month_map)
oni_long['Date'] = pd.to_datetime(dict(year=oni_long['Year'], month=oni_long['Month_num'], day=1))
oni_long

     Year Month  ONI  Month_num       Date
0    1950   DJF -1.4          1 1950-01-01
1    1951   DJF -0.8          1 1951-01-01
2    1952   DJF  0.5          1 1952-01-01
3    1953   DJF  0.5          1 1953-01-01
4    1954   DJF  0.7          1 1954-01-01
..    ...   ...  ...        ...        ...
811  2013   NDJ -0.3         11 2013-11-01
812  2014   NDJ  0.6         11 2014-11-01
813  2015   NDJ  2.3         11 2015-11-01
814  2016   NDJ -0.7         11 2016-11-01
815  2017   NDJ  NaN         11 2017-11-01

[816 rows x 5 columns]

In [50]:
# Filtering for 2010-2024
start_year = 2010
end_year = 2024
oni_filtered = oni_long[(oni_long['Date'].dt.year >= start_year) & (oni_long['Date'].dt.year <= end_year)]

# Warning if data doesn't cover full range
available_years = oni_filtered['Date'].dt.year.unique()
if available_years.min() > start_year or available_years.max() < end_year:
    print(f"⚠️ Warning: ONI dataset only covers {available_years.min()} to {available_years.max()}, "
          f"requested range was {start_year}-{end_year}.")

oni_filtered

⚠️ Warning: ONI dataset only covers 2010 to 2017, requested range was 2010-2024.

     Year Month  ONI  Month_num       Date
60   2010   DJF  1.3          1 2010-01-01
61   2011   DJF -1.3          1 2011-01-01
62   2012   DJF -0.7          1 2012-01-01
63   2013   DJF -0.4          1 2013-01-01
64   2014   DJF -0.5          1 2014-01-01
..    ...   ...  ...        ...        ...
811  2013   NDJ -0.3         11 2013-11-01
812  2014   NDJ  0.6         11 2014-11-01
813  2015   NDJ  2.3         11 2015-11-01
814  2016   NDJ -0.7         11 2016-11-01
815  2017   NDJ  NaN         11 2017-11-01

[96 rows x 5 columns]

In [ ]:
# Classify ENSO Phases: 
def classify_enso(oni): 
    if oni >= 0.5: 
        return 'El Nino'
    elif oni <= -0.5: 
        return 'La Nina'
    else:
        return 'Neutral'
oni_filtered["ENSO_Phase"] = oni_filtered["ONI"].apply(classify_enso)

# Applying Lag variables: (1,3,6 months)
oni_filtered = oni_filtered.sort_values("Date").reset_index(drop=True)
for lag in [1,3,6]: 
    oni_filtered[f"ONI_lag_{lag}m"] = oni_filtered["ONI"].shift(lag)

In [52]:
# Saving to DF: oni_filtered
oni_filtered.to_csv("./processed/climate_oni_clean.csv")
oni_filtered

,Year,Month,ONI,Month_num,Date,ENSO_Phase,ONI_lag_1m,ONI_lag_3m,ONI_lag_6m
0,2010,DJF,1.3,1,2010-01-01,El Nino,NaN,NaN,NaN
1,2010,JFM,1.2,1,2010-01-01,El Nino,1.3,NaN,NaN
2,2010,FMA,0.9,2,2010-02-01,El Nino,1.2,NaN,NaN
3,2010,MAM,0.5,3,2010-03-01,El Nino,0.9,1.3,NaN
4,2010,AMJ,0.0,4,2010-04-01,Neutral,0.5,1.2,NaN
...,...,...,...,...,...,...,...,...,...
91,2017,JAS,-0.5,7,2017-07-01,La Nina,-0.1,0.4,-0.4
92,2017,ASO,NaN,8,2017-08-01,Neutral,-0.5,0.2,0.2
93,2017,SON,NaN,9,2017-09-01,Neutral,NaN,-0.1,0.4
94,2017,OND,NaN,10,2017-10-01,Neutral,NaN,-0.5,0.4
95,2017,NDJ,NaN,11,2017-11-01,Neutral,NaN,NaN,0.2